In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_excel(r'C:\Users\민소은\corona.xlsx')

In [18]:
df1=df[df["iso_code"]=="KOR"]
df1

,iso_code,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
26964,KOR,South Korea,2019-12-31,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
26965,KOR,South Korea,2020-01-01,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
26966,KOR,South Korea,2020-01-02,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
26967,KOR,South Korea,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
26968,KOR,South Korea,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27262,KOR,South Korea,2020-10-24,25775.0,77.0,95.286,457.0,2.0,2.000,502.739,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
27263,KOR,South Korea,2020-10-25,25836.0,61.0,91.000,457.0,0.0,1.857,503.928,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
27264,KOR,South Korea,2020-10-26,25955.0,119.0,97.143,457.0,0.0,1.857,506.250,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
27265,KOR,South Korea,2020-10-27,26043.0,88.0,101.429,460.0,3.0,1.857,507.966,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903
27266,KOR,South Korea,2020-10-28,26146.0,103.0,103.143,461.0,1.0,1.571,509.975,...,35938.374,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.903

In [21]:
df2=df1.loc[:, ['location', 'date', 'total_cases', 'new_cases']]
df2

          location       date  total_cases  new_cases
26964  South Korea 2019-12-31          NaN        0.0
26965  South Korea 2020-01-01          NaN        0.0
26966  South Korea 2020-01-02          NaN        0.0
26967  South Korea 2020-01-03          NaN        0.0
26968  South Korea 2020-01-04          NaN        0.0
...            ...        ...          ...        ...
27262  South Korea 2020-10-24      25775.0       77.0
27263  South Korea 2020-10-25      25836.0       61.0
27264  South Korea 2020-10-26      25955.0      119.0
27265  South Korea 2020-10-27      26043.0       88.0
27266  South Korea 2020-10-28      26146.0      103.0

[303 rows x 4 columns]

In [23]:
df=pd.read_csv('data_covid.csv')

In [24]:
del df['Unnamed: 0']

In [25]:
df.iloc[0:21]

       location        date  total_cases  new_cases
0   South Korea  2019-12-31          NaN        0.0
1   South Korea  2020-01-01          NaN        0.0
2   South Korea  2020-01-02          NaN        0.0
3   South Korea  2020-01-03          NaN        0.0
4   South Korea  2020-01-04          NaN        0.0
5   South Korea  2020-01-05          NaN        0.0
6   South Korea  2020-01-06          NaN        0.0
7   South Korea  2020-01-07          NaN        0.0
8   South Korea  2020-01-08          NaN        0.0
9   South Korea  2020-01-09          NaN        0.0
10  South Korea  2020-01-10          NaN        0.0
11  South Korea  2020-01-11          NaN        0.0
12  South Korea  2020-01-12          NaN        0.0
13  South Korea  2020-01-13          NaN        0.0
14  South Korea  2020-01-14          NaN        0.0
15  South Korea  2020-01-15          NaN        0.0
16  South Korea  2020-01-16          NaN        0.0
17  South Korea  2020-01-17          NaN        0.0
18  South Korea  2020-01-18          NaN        0.0
19  South Korea  2020-01-19          NaN        0.0
20  South Korea  2020-01-20          1.0        1.0

In [26]:
df = df.iloc[21:303]

In [27]:
del df['location']

In [28]:
df = df.set_index('date')

In [33]:
del df.index.name

In [34]:
df

             누적 확진자  신규 확진자
2020-01-21      1.0     0.0
2020-01-22      1.0     0.0
2020-01-23      1.0     0.0
2020-01-24      2.0     1.0
2020-01-25      2.0     0.0
2020-01-26      3.0     1.0
2020-01-27      4.0     1.0
2020-01-28      4.0     0.0
2020-01-29      4.0     0.0
2020-01-30      4.0     0.0
2020-01-31      7.0     3.0
2020-02-01     12.0     5.0
2020-02-02     15.0     3.0
2020-02-03     15.0     0.0
2020-02-04     16.0     1.0
2020-02-05     18.0     2.0
2020-02-06     23.0     5.0
2020-02-07     24.0     1.0
2020-02-08     24.0     0.0
2020-02-09     25.0     1.0
2020-02-10     27.0     2.0
2020-02-11     28.0     1.0
2020-02-12     28.0     0.0
2020-02-13     28.0     0.0
2020-02-14     28.0     0.0
2020-02-15     28.0     0.0
2020-02-16     29.0     1.0
2020-02-17     30.0     1.0
2020-02-18     31.0     1.0
2020-02-19     46.0    15.0
...             ...     ...
2020-09-29  23699.0    38.0
2020-09-30  23812.0   113.0
2020-10-01  23812.0     0.0
2020-10-02  23952.0   140.0
2020-10-03  24027.0    75.0
2020-10-04  24091.0    64.0
2020-10-05  24164.0    73.0
2020-10-06  24239.0    75.0
2020-10-07  24353.0   114.0
2020-10-08  24422.0    69.0
2020-10-09  24476.0    54.0
2020-10-10  24548.0    72.0
2020-10-11  24606.0    58.0
2020-10-12  24703.0    97.0
2020-10-13  24805.0   102.0
2020-10-14  24889.0    84.0
2020-10-15  24988.0    99.0
2020-10-16  25035.0    47.0
2020-10-17  25108.0    73.0
2020-10-18  25199.0    91.0
2020-10-19  25275.0    76.0
2020-10-20  25333.0    58.0
2020-10-21  25424.0    91.0
2020-10-22  25543.0   119.0
2020-10-23  25698.0   155.0
2020-10-24  25775.0    77.0
2020-10-25  25836.0    61.0
2020-10-26  25955.0   119.0
2020-10-27  26043.0    88.0
2020-10-28  26146.0   103.0

[282 rows x 2 columns]

In [30]:
df = df.rename(columns = {'total_cases' : '누적 확진자','new_cases' : '신규 확진자'})

In [35]:
df

             누적 확진자  신규 확진자
2020-01-21      1.0     0.0
2020-01-22      1.0     0.0
2020-01-23      1.0     0.0
2020-01-24      2.0     1.0
2020-01-25      2.0     0.0
2020-01-26      3.0     1.0
2020-01-27      4.0     1.0
2020-01-28      4.0     0.0
2020-01-29      4.0     0.0
2020-01-30      4.0     0.0
2020-01-31      7.0     3.0
2020-02-01     12.0     5.0
2020-02-02     15.0     3.0
2020-02-03     15.0     0.0
2020-02-04     16.0     1.0
2020-02-05     18.0     2.0
2020-02-06     23.0     5.0
2020-02-07     24.0     1.0
2020-02-08     24.0     0.0
2020-02-09     25.0     1.0
2020-02-10     27.0     2.0
2020-02-11     28.0     1.0
2020-02-12     28.0     0.0
2020-02-13     28.0     0.0
2020-02-14     28.0     0.0
2020-02-15     28.0     0.0
2020-02-16     29.0     1.0
2020-02-17     30.0     1.0
2020-02-18     31.0     1.0
2020-02-19     46.0    15.0
...             ...     ...
2020-09-29  23699.0    38.0
2020-09-30  23812.0   113.0
2020-10-01  23812.0     0.0
2020-10-02  23952.0   140.0
2020-10-03  24027.0    75.0
2020-10-04  24091.0    64.0
2020-10-05  24164.0    73.0
2020-10-06  24239.0    75.0
2020-10-07  24353.0   114.0
2020-10-08  24422.0    69.0
2020-10-09  24476.0    54.0
2020-10-10  24548.0    72.0
2020-10-11  24606.0    58.0
2020-10-12  24703.0    97.0
2020-10-13  24805.0   102.0
2020-10-14  24889.0    84.0
2020-10-15  24988.0    99.0
2020-10-16  25035.0    47.0
2020-10-17  25108.0    73.0
2020-10-18  25199.0    91.0
2020-10-19  25275.0    76.0
2020-10-20  25333.0    58.0
2020-10-21  25424.0    91.0
2020-10-22  25543.0   119.0
2020-10-23  25698.0   155.0
2020-10-24  25775.0    77.0
2020-10-25  25836.0    61.0
2020-10-26  25955.0   119.0
2020-10-27  26043.0    88.0
2020-10-28  26146.0   103.0

[282 rows x 2 columns]

In [47]:
df.to_csv('data_covid.csv',index = True)