In [1]:
import pandas as pd
import numpy as np

# 2020

In [3]:
dataset1 = pd.read_excel(r'2020_01.xlsx')

dataset2 = pd.read_excel(r'2020_02.xlsx')

dataset3 = pd.read_excel(r'2020_03.xlsx')

dataset4 = pd.read_excel(r'2020_04.xlsx')

In [4]:
dataset = pd.concat([dataset1, dataset2, dataset3, dataset4])

In [5]:
dataset = dataset[['지역', '측정소명', '측정일시', 'PM10']]

In [6]:
data_seoul = []
data_gangwon = []
data_chungbuk = []
data_chungnam = []
data_gyeongbuk = []
data_gyeongnam = []
data_jeonbuk = []
data_jeonnam = []
data_jeju = []

# 서울

In [7]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '중구':
        data_seoul.append(dataset.iloc[i])

In [8]:
data_seoul = pd.DataFrame(data_seoul).reset_index()
del data_seoul['index']

# 강원

In [9]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '옥천동':
        data_gangwon.append(dataset.iloc[i])

In [10]:
data_gangwon = pd.DataFrame(data_gangwon).reset_index()
del data_gangwon['index']

# 충청도

In [13]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '용암동':
        data_chungbuk.append(dataset.iloc[i])

In [14]:
data_chungbuk = pd.DataFrame(data_chungbuk).reset_index()
del data_chungbuk['index']

# 경북

In [15]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '안계면':
        data_gyeongbuk.append(dataset.iloc[i])

In [16]:
data_gyeongbuk = pd.DataFrame(data_gyeongbuk).reset_index()
del data_gyeongbuk['index']

# 경남

In [17]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '상대동':
        data_gyeongnam.append(dataset.iloc[i])

In [18]:
data_gyeongnam = pd.DataFrame(data_gyeongnam).reset_index()
del data_gyeongnam['index']

# 전북

In [19]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '중앙동(전주)':
        data_jeonbuk.append(dataset.iloc[i])

In [20]:
data_jeonbuk = pd.DataFrame(data_jeonbuk).reset_index()
del data_jeonbuk['index']

# 전남

In [21]:
for i in range(len(dataset)):
    if dataset.iloc[i]['측정소명'] == '치평동':
        data_jeonnam.append(dataset.iloc[i])

In [22]:
data_jeonnam = pd.DataFrame(data_jeonnam).reset_index()
del data_jeonnam['index']

In [23]:
seoul_pm10 = data_seoul['PM10']
gangwon_pm10 = data_gangwon['PM10']
chungbuk_pm10 = data_chungbuk['PM10']
gyeongbuk_pm10 = data_gyeongbuk['PM10']
gyeongnam_pm10 = data_gyeongnam['PM10']
jeonbuk_pm10 = data_jeonbuk['PM10']
jeonnam_pm10 = data_jeonnam['PM10']

In [24]:
Dataset = pd.DataFrame({'서울 PM10' : seoul_pm10, '강원 PM10' : gangwon_pm10, '충청 PM10' : chungbuk_pm10,'경남 PM10' : gyeongnam_pm10,  '경북 PM10' : gyeongbuk_pm10, '전남 PM10' : jeonnam_pm10, '전북 PM10' : jeonbuk_pm10})

In [25]:
Dataset

      서울 PM10  강원 PM10  충청 PM10  경남 PM10  경북 PM10  전남 PM10  전북 PM10
0          30       30       45       45     -999       54       44
1          42       28       38       42     -999       70       40
2          46       28       36       39     -999       72       45
3          30       24       34       43     -999       74       40
4          25       24       35       43     -999       74       23
...       ...      ...      ...      ...      ...      ...      ...
8755      114      129      101      133      123      150      142
8756      126      132       97      140      111      134      130
8757      141      142      103      133      103      152      134
8758      145      134      107      137      119      174      140
8759      162      126      119      138      117      178      151

[8760 rows x 7 columns]

In [26]:
Dataset = Dataset.set_index(data_seoul['측정일시'])

In [27]:
Dataset

            서울 PM10  강원 PM10  충청 PM10  경남 PM10  경북 PM10  전남 PM10  전북 PM10
측정일시
2013010101       30       30       45       45     -999       54       44
2013010102       42       28       38       42     -999       70       40
2013010103       46       28       36       39     -999       72       45
2013010104       30       24       34       43     -999       74       40
2013010105       25       24       35       43     -999       74       23
...             ...      ...      ...      ...      ...      ...      ...
2013123120      114      129      101      133      123      150      142
2013123121      126      132       97      140      111      134      130
2013123122      141      142      103      133      103      152      134
2013123123      145      134      107      137      119      174      140
2013123124      162      126      119      138      117      178      151

[8760 rows x 7 columns]

In [28]:
Dataset.to_csv('2013_pm10.csv')